body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
}

header {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

section {
    margin-bottom: 25px;
}

.perfil {
    text-align: center;
}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #004aad;
}

h2 {
    color: #004aad;
}

footer {
    text-align: center;
    background-color: #004aad;
    color: white;
    padding: 10px;
}
